@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

body {
    
    margin: 0;
    padding: 10px;
    background-image: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bW91bnRhaW4lMjBkYXJrfGVufDB8fDB8fHww");
    animation: transitionIn 3s;
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes transitionIn {

    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.mtnbg {
    background-image: url("mtnbgg.jpg");
    padding: 50px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0vh;
    border: 0.5px solid rgb(84, 74, 131);
}

.home-page-mtn{
    background-color: transparent;
    border-radius: 20px;
    color: rgb(244, 235, 235);
    font-weight: bolder;
    border: 2px solid #c97106;
    font-family: "Roboto", sans-serif;

    &:hover {
        color: #000000;
        background-color: #c97106;
}
}
h1 {
    text-align: center;
    margin-bottom: 30px;
    color: rgb(221, 207, 207);
    font-family: "Mukta", sans-serif;
    font-weight: 600;
}

#mtnp {
    text-align: center;
    font-family: "Mukta", sans-serif;
    color: rgb(212, 134, 44);
    padding-bottom: 20px;
    font-weight: bold;
    font-size: large;
}

#search-container {
    text-align: center;
    margin-bottom: 30px;
}

#search {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* search button */
button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5c6670;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    
}

button:hover {
    background-color: #2e5c89;
}

#image-gallery {
    column-count: 3;
    column-gap: 15px;
    padding: 20px;
    background-color: rgb(158, 152, 176);
    border-radius: 20px;
    border: 0.5px solid rgb(101, 102, 170);
}

.image-card {
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
}

.image-card img {
    width: 100%;
    height: auto;
    display: block;
}

.image-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 800px) {
    #image-gallery {
        column-count: 2;
    }
}

@media screen and (max-width: 500px) {
    #image-gallery {
        column-count: 1;
    }
}